*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
html{
  background-image: url("background-images/bg.png");
}
.main{
  height:auto;

  color: #F5F4F4;
}
.main .heading{
  font-size:30px;
  margin-top: 110px;
  margin-bottom: 50px;
  text-align:center;
  letter-spacing:4px;
}
#menubtn {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

main{
  display: grid;
  padding: 2rem;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;

}
section button{
  font-size: 20px;
  border: 3px double #F5F4F4;
  outline: none;
  color: #F5F4F4;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 10px auto;
  display: block;
  box-shadow: 0 0 5px rgb(255, 255, 255);
  transition: .3s ease;
}
section button:hover{
  font-size:23px;
  background-color: #00eeff;
  color:#000000;
  font-weight: bold;
  border: 3px double aqua ;
  box-shadow: 0 0 10px aqua;

}
.btn-content{

  text-align: center;
  background-color: #F5F4F4;
  padding: 10px;
  margin: 0 auto;
  display: block;
  color: #161616;
}
.btn-content h1{
  text-align: center;
  padding: 7px;
}

@media (max-width: 1200px) {
  main {
      grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  main {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  main {
      grid-template-columns: 1fr;
  }
}

@media (max-width:1200px){
  section button{
    font-size: 15px;
  }
  .btn-content{
    width: 80%;
  }
}
@media (max-width:500px){
  .btn-content{
    width:90%;
  }
  .btn-content p{
    font-size: 12px;
  }
}
@media (max-width: 610px){
  .main .heading{
    margin-top:140px;
    font-size: 25px;
  }
}



footer{
  height:auto;
  background-color:#0201114f;
  text-align:center;
  margin:0 auto;
  width: 100%;
  padding-top:10px;
  display: flex;
justify-content: center;
}
footer .footer-img{
  padding:5px;
}
footer h5{
  color:#F5F4F4;
  margin: 8px;
}
footer h5 a{
  text-decoration:none;
  color: #F5F4F4;
  font-size:15px;
}